body {
  font-family: Arial;
  background:#ece5dd;
}

.dark {
  background:#111;
}

.chat-box {
  width:360px;
  margin:auto;
  background:white;
  border-radius:10px;
  overflow:hidden;
}

.header {
  background:#075e54;
  color:white;
  padding:10px;
  display:flex;
  justify-content:space-between;
}

#messages {
  height:400px;
  overflow-y:auto;
  padding:10px;
}

.msg {
  max-width:70%;
  margin:6px;
  padding:8px;
  border-radius:8px;
}

.sent {
  background:#dcf8c6;
  margin-left:auto;
}

.received {
  background:#fff;
}

.time {
  font-size:10px;
  color:gray;
}

.seen {
  font-size:10px;
}

.del {
  float:right;
  cursor:pointer;
  color:red;
}

.input-area {
  display:flex;
}

input {
  flex:1;
  padding:8px;
}

button {
  background:#075e54;
  color:white;
  border:none;
  padding:8px;
}

.emoji-box {
  display:none;
  padding:10px;
  cursor:pointer;
}